{% extends "base.html" %}
{% load tag %}
{% block content %}
        {% for classroom in classrooms %}
  <div class="card card-default">
  <div class="card-header">{{classroom.name}}({{classroom.lesson_choice}})--{{classroom.teacher_id|realname}}老師</div>
  <div class="card-body">
                <a href="/student/classroom/{{classroom.id}}/classmate" class="btn btn-outline-success" role="btn"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 學生</a>
                <a href="/teacher/announce/{{classroom.id}}" class="btn btn-outline-success" role="btn"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 公告</a>  
							  <a href="/teacher/work/{{classroom.lesson}}/{{classroom.id}}" role="button" class="btn btn-outline-success">作業</a>         
  <!--
    <a href="/teacher/work/{{classroom.id}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> 專題</a>
-->  
  </div>
</div>
  {% endfor %}
    		{% load pagination %}
        {% get_pagination %}  
{% endblock %}