{% extends "base.html" %}
{% load tag %}
{% block content %}
<a href="/teacher/classroom/create">新增班級</a>
<table>
  <tr>
  <th>班級名稱</th>   
  <th>選課密碼</th>
  <th>功能</th>       
  </tr>
{% for classroom in classroom_list %}
  <tr>
  <td>{{classroom.name}}</td>
  <td>{{classroom.password}}</td>
  <td>
    <a href="/teacher/classroom/{{classroom.id}}/update">修改</a>
    <a href="/student/classroom/{{classroom.id}}/classmate">學生</a>
    <a href="/teacher/announce/{{classroom.id}}/create">公告</a>      
  </td>
  </tr>
{% endfor %}
</table>
    {% load pagination %}
    {% get_pagination %}
{% endblock %}