{% extends 'base.html' %}
{% load tag %}

{% block content %}
  <h1>{{ assignment.title }}</h1>
  <div id="qSwitch" class="btn-group btn-group-sm mb-1" role="group" aria-label="切換問題">
    <div class="btn btn-dark">切換問題 </div>
    {% for q in qlist %}
    <button type="button" class="btn btn" data-qid="{{ forloop.counter0 }}">{{ forloop.counter }}</button>
    {% endfor %}
  </div>
  <h2 id="qTitle"></h2>
  {{ sworks }}
  {% for stuwork in submissions %}
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div><span class="badge badge-secondary">{{ stuwork.stu.seat }}</span> {{ stuwork.stu.student_id|realname }}</div>
      <small>有
      {% for q in qidx %}
      <span class="data-count {{q}}">{{stuwork.data|list_item:q|list_item:'count'|default:0}}</span>
      {% endfor %} 筆上傳紀錄，僅顯示最新一筆
      </small>
    </div>
    {% for q in stuwork.data %}
    <div class="card-body item-content {{q}}">
      {% with item=stuwork.data|list_item:q|list_item:'latest' %}
      {% block item_content %}{% endblock %}
      {% endwith %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <script>
    var None = undefined;
    var qList = {{ qlist|safe }};

    function qSwitch(qid) {
      $('#qTitle').text(qList[qid]);
      $('#qSwitch>button[data-qid='+qid+']').addClass('btn-primary');
      $('.item-content, .data-count').addClass('d-none');
      $('.q'+(qid+1)).removeClass('d-none');
    }

    qSwitch(0);

    var qButtons = $('#qSwitch>button');
    qButtons.click(function(event) {
      if (!$(this).hasClass('btn-primary')) {
        qButtons.removeClass('btn-primary');
        qSwitch($(this).data('qid'));
      }
    });
  </script>
{% endblock %}