{% extends "base.html" %}
{% block content %}
<a href="/teacher/work/add/{{lesson}}/{{classroom.id}}" role="button" class="btn btn-primary">新增作業</a><BR><BR>
<table class="table">
    <tr>
        <td>名稱</td>
        <td>時間</td>
        <td colspan=6>功能</td>
    </tr>
    {% for work in works %}
    <tr>
        <td><span class="badge badge-secondary">{{forloop.revcounter}}</span> <a href="/teacher/work/update/{{work.id}}/{{classroom.lesson}}/{{classroom.id}}">{{work.title}}</a></td>
        <td>{{work.time}}</td>
        <td><a href="/teacher/work/update/{{work.id}}/{{classroom.lesson}}/{{classroom.id}}">修改</a></td>
        <td><a href="/teacher/work/submissions/{{classroom.id}}/{{work.id}}/1/">現象</a></td>
        <td><a href="/teacher/work/submissions/{{classroom.id}}/{{work.id}}/2/">資料</a></td>
        <td><a href="/teacher/work/submissions/{{classroom.id}}/{{work.id}}/3/">流程</a></td>                        
        <td><a href="/teacher/work/score/{{classroom.lesson}}/{{classroom.id}}/{{work.id}}">評分</a></td>
        <td><a href="/student/work/memo/{{classroom.id}}/{{classroom.lesson}}/{{forloop.revcounter}}">心得</a></td>
    </tr>
    {% endfor %}
</table>
{% load pagination %}
{% get_pagination %}
{% endblock %}