/* expression editor */
ul.expr-item-list {display: inline-block; min-width: 20pt; padding: 3pt; margin-bottom: 0; list-style: none}
ul.expr-arr-list {min-width: 20pt; padding: 3pt; position: relative; margin-bottom: 0; list-style: none; display: inline-block; vertical-align: middle}
ul.expr-item-list>.expr-item {display: inline-block;}
ul.expr-item-list a {background-color: transparent; color: white}
ul.expr-item-list a:hover {text-decoration: none}
.expr-editor .card-body ul.expr-item-list {border: 1px dashed grey}
.expr-editor>.card-header {padding-top: .1em; padding-bottom: .1em}
.expr-trash {position: absolute; right: 5pt; top: 5pt; padding: 3pt; border: 1px solid silver}

#modal-new-array th, #modal-new-array th {text-align: center; vertical-align: middle}

/* flow editor */
.flow-container .flow-content {display: flex; align-content: space-between; padding: 5px 3px; box-shadow: 1px 1px 3px; margin-bottom: 5pt}
.flow-content .badge {margin-right: 5pt;}
.flow-container .flow-item::after {content: url(/static/images/down.png); display: block; text-align: center}
.flow-container .flow-item:last-child::after {content: none}
.flow-container .flow-group {width: 100%; text-align: left}
.new-flow-op {text-align: left; margin: 5px 0; background-color: white; display: inline-block}
.new-flow-op>.new-flow-type {display: inline-block}
.flow-item .flow-delete {cursor: pointer}
.flow-item .label-op {display: inline-block; width: 40px}
.flow-item.input > .flow-content, .flow-item.output > .flow-content {background-color: silver}
.flow-item.loop > .flow-content {background-color: steelblue}
.flow-item.if > .flow-content {background-color: lemonchiffon}
.flow-item.process > .flow-content {background-color: snow}