{% extends "base.html" %}
{% load tag %}
{% block content %}
<a href="/student/classroom/join" role="btn" class="btn btn-primary active">加入班級</a>
<table class="table">
  <tr>
  <th>班級名稱</th>   
  <th>功能</th>       
  </tr>
{% for classroom, enroll in queryset %}
  <tr>
  <td>{{classroom.name}}</td>
  <td>
    <a href="/student/classroom/{{enroll.id}}/seat" role="btn" class="btn btn-outline-success">座號</a>
    <a href="/student/classroom/{{classroom.id}}/classmate" role="btn" class="btn btn-outline-success">同學</a>
    <a href="/student/work/1/{{classroom.lesson}}/{{classroom.id}}" role="button" class="btn btn-outline-success">作業</a>
  </td>
  </tr>
{% endfor %}
</table>
{% endblock %}