{% extends "base.html" %}
{% load tag %}
{% block content %}
{% if q_index > 0 %}
{% for contents in contents1.1 %}
{% for work, history in contents.0.1 %}
<div class="card card-default"> 
              {% if work.types == 12 %}
  <div class="card-header"><button type="button" class="btn btn-default">{{forloop.counter}}</button> {{work.publication_date}} -- {% if work.deleted %}<button class="btn btn-danger">已刪除</button>{% endif %}
      </div>
   <div class="card-body"><img src="/static/upload/{{ work.picname }}" style="max-width:900px"></div>                      
              {% elif work.types == 11 %}
  <div class="card-header"><button type="button" class="btn btn-default">{{forloop.counter}}</button> {% if history %}{{history.0.publication_date}}{% else %}{{work.publication_date}}{% endif %} -- 修改</a>({{history|length}})
    {% if work.deleted %}<button class="btn btn-danger">已刪除</button>{% endif %}
  </div>  
  <div class="card-body">{{ work.text|memo|safe }}
  {% for item in history %}
  <div class="card card-default"> 
<div class="card-header"><button type="button" class="btn btn-default">{{forloop.revcounter}}</button>{{item.publication_date}}--
</div>  
<div class="card-body">{{ item.text|memo|safe }}</div>
   </div>
{% endfor %}
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}