<div id="qFlow-switch" class="btn-group mb-1" role="group" aria-label="切換資料建模問題">
  {% for q in assignment.description.qFlow %}
  <button type="button" class="btn btn-light">{{ forloop.counter }}</button>
  {% endfor %}
</div>

<div class="card card-default flow-editor">
  <div class="card-header">
    <h2 id="flow-qTitle"></h2>
  </div>
  <div class="card-body">
    <div class="flow-group">
      <div class="new-flow-op">
        <button class="btn btn-sm btn-dark disabled">新增流程 &gt; </button>
        <div class="new-flow-type">
          <button class="btn btn-sm btn-outline-dark new-flow-input">輸入</button>
          <button class="btn btn-sm btn-outline-dark new-flow-output">輸出</button>
          <button class="btn btn-sm btn-outline-dark new-flow-loop">迴圈</button>
          <button class="btn btn-sm btn-outline-dark new-flow-if">判斷</button>
        </div>
      </div>
      <div id="flow-list" class="flow-container">
      </div>
    </div>
  </div>
  <div class="card-footer pt-1">
    <form id="flow-form" action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="jsonid" value="{{flow.id|default:'0'}}">
      <input type="hidden" name="types" value="22">
      <input type="hidden" name="index" value="{{index}}">
      <input type="hidden" name="qid" value="" />
      <input type="hidden" name="jsonstr" id="jsonstr" value="">
    </form>
    <button class="btn btn-info form-control" id="flow-submit">送出</button>
  </div>
</div>
<hr />
<div class="list-group" id="flow-history"></div>