{% extends "base.html" %}

{% load tag %}
{% block content %}
        <h1>對象：{{user_id|realname}}</h1>
         <form action="" enctype="multipart/form-data"  method="post">
            <table class="table">
                {{ form.as_table }}       
            <tr><td></td><td><input id="submit" type="submit" value="送出"><td</tr>
            </table>
            {% csrf_token %}

        </form>
        <BR>
        <h1>歷史私訊</h1>
        <table class="table">
        {% for message in messages %}
        <tr><td>{{message.time}}<a href="/account/line/{{message.id}}">{{message.title}}</a>
          {% if not message.id|read_already:user_id %}--未讀{% endif %}</td></tr>
        {% empty %}
        <tr><td>無</td></tr>
        {% endfor %}
        </table>
{% endblock %}